# Change or add API providors easily --https://www.assistant-ui.com/docs/getting-started
GOOGLE_GENERATIVE_AI_API_KEY=
# Assistant Cloud API URL -- sign up on cloud.assistant-ui.com

NEXT_PUBLIC_ASSISTANT_BASE_URL=

# Assistant Cloud API Key
ASSISTANT_API_KEY=